/*Variables*/

 :root {
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --basic-grey: #3D546F;
    --special-background: #B7BFC8;
    --basic-greylight: #C5C5C5;
    --basic-greylight-opacity:  rgba(197, 197, 197, 0.3);
    --basic-background: #F1F5F7;
    --basic-white: #FFFFFF;
    --basic-whitergba: rgba(255, 255, 255);
    --special-ylellow: #FFBF47;
    --special-blue: #3BBCE3;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --special-yellowlight: #FFD180;
    --special-yellowfooter: #FFDA96;
    --green-success: #5FBB2D;
    --green-click: #518534;
    --red-buttonh: #CA2C37;
    --red-buttona: #BA2732;
    --light-grey: #EAEAEA;
    --basic-black: #000000;
    --opacity-black: rgba(0, 0, 0, 0.3);
    --special-light: #F7F3EC;
    --smoke: #F3F7F9;
    --deep-grey: #293449;
    --deeply-grey: #32425C;
    --social-grey: #212A3A;
    --bookmark-grey: #161D29;
    --header-grey: #1D2739;
    --grey: #A9A9A9;
    --grey-opacity: rgba(169, 169, 169, 0.3);
    --basic-pink: #F9F5F0;
    --grey-catalog: #F2F6F8;
    --grey-checkbox: #B5B5B5;
    --border-grey: #E5E5E5;
    --modal-background: #F4F4F4;
    --special-opacity: rgba(255, 255, 255, 0.5);
    --special-opacity1: rgba(255, 255, 255, 0.3);
    --background-slide: rgba(0, 0, 0, 0.25);
    --shadow: rgba(0, 0, 0, 0.15);
    --outline: rgba(0, 0, 255, 0.7);
    --outline-green: rgba(0, 255, 0, 0.7);
    --outline-red: rgba(255, 0, 0, 0.7);
    --buy-shadow: #367315;
    --filter-line: #D7DCDE;
    --filter-line-green:  #00CA74;
    --toggle: #ABABAB;
    --filter-line: rgba(0, 0, 0, 0.0001);

}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: local("Cuprum"), url("../fonts/cuprum.woff2") format("woff2"), url("../fonts/cuprum.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    src: local("Cuprum"), url("../fonts/cuprumbold.woff2") format("woff2"), url("../fonts/cuprumbold.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    src: local("Cuprum"), url("../fonts/cuprumitalic.woff2") format("woff2"), url("../fonts/cuprumitalic.woff") format("woff");
}

@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    src: local("Cuprum"), url("../fonts/cuprumbolditalic.woff2") format("woff2"), url("../fonts/cuprumbolditalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 400;
    src: local("PT Sans"), url("../fonts/ptsansitalic.woff2") format("woff2"), url("../fonts/ptsansitalic.woff") format("woff");
}

@font-face {
    font-family: "PT Sans";
    font-style: italic;
    font-weight: 700;
    src: local("PT Sans"), url("../fonts/ptsansbolditalic.woff2") format("woff2"), url("../fonts/ptsansbolditalic.woff") format("woff");
}

/*Global*/

.page-body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    color: var(--basic-white);
    background-color: var(--basic-white);
    background-image: url("../img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: min-content 1fr 1fr 1fr 1fr 1fr min-content;
    align-content: start;
    height: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.page {
    height: 100%
}


/*header*/

.position-relative {
    position: relative;
}

.content-container {
    max-width: 940px;
    margin: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.navigation {
    background-color: var(--basic-background);
    display: grid;
    grid-template-rows: min-content 1fr min-content;
    box-sizing: border-box;
    padding-bottom: 65px;
}

.main-header {
    margin-bottom: 60px;
}

.background-navigation {
    background-color: var(--deep-grey);
    margin-bottom: 45px;
}

.navigation-top {
    background-color: var(--deep-grey);
    display: grid;
    grid-template-columns: 220px 270px 150px 150px 150px;
}

.logo-main {
    padding-top: 9px;
    padding-bottom: 9px;
    background-color: var(--basic-red);
    box-shadow: 0 5px 0 0 var(--red-buttona);
    padding: 12px 56px 0 56px;
}

.button {
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: var(--basic-white);
    background-color: var(--basic-green);
    padding-top: 9px;
    padding-bottom: 9px;
    border: none;
    width: 150px;
    outline: none;
    cursor: pointer;
}

.button:hover {
    background-color: var(--green-success);
}

.button:active {
    background-color: var(--basic-green);
    color: var(--special-opacity);
}

.bookmark {
    padding-top: 9px;
    padding-bottom: 9px;
    color: var(--basic-white);
}

.search {
    position: relative;
    max-width: 271px;
    margin-right: 20px;
    padding-right: 143px;
}

.input-search,
.search-button {
    border: none;
    outline: none;
}

.input-search {
    height: 42px;
    color: var(--basic-white);
    background-color: var(--deep-grey);
    padding: 0;
    padding-left: 42px;
    position: relative;
}

.input-search:focus {
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.input-search:focus ~.search-button::after {
    background-image: url(../img/icon-search-click.svg);
    opacity: 1;
}

.search-button {
    height: 18px;
    width: 18px;
    position: absolute;
    top: 12px;
    left: 15px;
    background: transparent;
    cursor: pointer;
}

.search-button::after {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-search.svg);
    top: 1px;
    left: 1px;
    opacity: 0.5;
}

.search-button:hover::after {
    opacity: 1;
}

.bookmark {
    max-width: 126px;
    position: relative;
    padding-left: 43px;
}

.bookmark:active {
    background-color: var(--bookmark-grey);
    color: var(--special-opacity);
}

.bookmark::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 19px;
    top: 12px;
    opacity: 0.3
}

.bookmark:hover::before {
    opacity: 1;
}

.basket {
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 45px;
    color: var(--basic-white);
    position: relative;
    margin-left: 5px;
}

.basket:active {
    background-color: var(--bookmark-grey);
    color: var(--special-opacity);
}

.basket::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 20px;
    top: 12px;
    opacity: 0.3
}

.basket:hover::before {
    opacity: 1;
}

.navigation-adress {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 38px;
}

.h-header {
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-red);
    font-style: italic;
    font-weight: normal;
    text-align: left;
    box-sizing: border-box;
    margin: 0;
    margin-left: 30px;
    width: 197px;
}

.adress-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.phone {
    display: block;
    color: var(--basic-red);
    font-size: 21px;
    line-height: 30px;
    font-weight: bold;
    border: 3px solid var(--basic-white);
    width: 275px;
    padding: 7px 40px 8px 74px;
    position: relative;
    box-sizing: border-box;
}

.phone::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 19px;
    background-image: url(../img/icon-phone.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 40px;
    top: 12px;
}

.adress {
    font-size: 14px;
    line-height: 24px;
    color: var(--deeply-grey);
    padding-left: 10px;
    margin: 0;
}


.button-login,
.button-reg {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-top: 10px;
    outline: none;
    cursor: pointer;

}

.enter-registration{
     margin-left: 13px;
}

.button-login {
    width: 121px;
    padding-left: 45px;
    padding-right: 27px;
    margin: 0;
    margin-right: 5px;
    margin-left: 5px;
    position: relative;
}

.button-reg {
    width: 150px;
    margin: 0;
    padding-left: 24px;
    padding-right: 24px;
    position: relative;
}

.button-login:hover,
.button-reg:hover {
    color: var(--basic-red);
}

.button-login:active,
.button-reg:active {
    color: var(--basic-greylight);
}

.button-login::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 17px;
    background-image: url(../img/icon-login.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 19px;
    top: 13px;
}

.button-login:hover::before {
    background-image: url(../img/icon-login-hover.svg);
}

.button-login:active::before {
    background-image: url(../img/icon-login.svg);
}

.order-account {
    font-size: 16px;
    line-height: 18px;
    color: var(--deeply-grey);
}

.list-header {
    background-color: var(--deeply-grey);
    list-style: none;
    box-shadow: 0 5px 0 0 var(--deep-grey);
    padding: 16px 18px 16px 23px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-header a {
    list-style: none;
    color: var(--basic-white);
    padding: 17px 31px 22px 27px;
    text-align: center;
}

.list-header a:hover {
    background-color: var(--deep-grey);
}

.list-header a:active {
    background-color: var(--header-grey);
    color: var(--basic-white);
    opacity: 0.5;
}


/*main*/


/*slider*/

.promo-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-bottom: 65px;
    gap: 20px;
}

.slider {
    width: 620px;
    height: 266px;
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
}

.slide {
    background-size: 620px 266px;
    background-repeat: no-repeat;
    box-shadow: inset 0 104px 0 0 var(--background-slide);
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    padding-left: 24px;
}

.slide:first-child {
    background-image: url(../img/slide2.jpg);
}

.slide:nth-child(2) {
    display: none;
    background-image: url(../img/slide1.jpg);
}

.tool {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
    color: var(--basic-white);
    padding: 23px 24px 5px 0;
    margin: 0;
}

.slide p {
    margin: 0;
    margin-bottom: 112px;
}

.slide-left {
    position: absolute;
    width: 22px;
    height: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 122px;
    left: 24px;
}

.slide-left::before,
.slide-left::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 40px;
    background-image: url(../img/shape-slide.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 1px;
    left: 2px;
}

.slide-right {
    position: absolute;
    width: 22px;
    height: 40px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 122px;
    left: 24px;
}

.slide-right::before,
.slide-right::after {
    content: "";
    position: absolute;
    width: 22px;
    height: 40px;
    background-image: url(../img/shape-slide-right.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: 1px;
    left: 550px;
}

.dot-left {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 122px;
    left: 24px;
}

.dot-left::before,
.dot-left::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--basic-white);
    border-radius: 50%;
    top: 100px;
    left: 274px;
}

.dot-right {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 122px;
    left: 24px;
}

.dot-right::before,
.dot-right::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: var(--basic-red);
    border: 2px solid var(--basic-white);
    border-radius: 50%;
    top: 100px;
    left: 293px;
}

.a-open-catalog {
    width: 192px;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-red);
    padding: 11px 0 9px 0;
    box-sizing: border-box;
}

.a-open-catalog:hover {
    background-color: var(--red-buttonh);
}

.a-open-catalog:active {
    background-color: var(--red-buttona);
}


.promo {
    width: 300px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.promo h2 {
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: var(--basic-white);
    padding-top: 20px;
    padding-left: 23px;
    padding-bottom: 14px;
    margin: 0;
}

.promo a {
    font-size: 14px;
    line-height: 18px;
    font-style: normal;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--special-opacity1);
    max-width: 135px;
    margin-left: 22px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 21px;
}

.promo a:hover {
    background-color: var(--basic-greylight-opacity);
}

.promo a:active {
    background-color: var(--grey-opacity);
}

.promo-materials {
    background-color: var(--special-ylellow);
    grid-column: 1/2;
    grid-row: 1/2;
    position: relative;
}

.promo-instrument {
    background-color: var(--special-blue);
    grid-column: 2/3;
    grid-row: 1/2;
    position: relative;
}

.promo-technics {
    background-color: var(--special-lilac);
    grid-column: 3/4;
    grid-row: 1/2;
    position: relative;
}

.promo-discount {
    background-color: var(--special-greenlight);
    grid-column: 3/4;
    grid-row: 2/3;
    position: relative;
}

.promo-delivery {
    background-color: var(--special-ylellow);
    grid-column: 3/4;
    grid-row: 3/4;
    position: relative;
}

.promo-materials::after {
    content: "";
    position: absolute;
    width: 44px;
    height: 65px;
    background-image: url(../img/icon-materials.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 213px;
    top: 31px;
}

.new {
    position: relative;
}

.new::before {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 230px;
    top: 1px;
}

.promo-instrument::after {
    content: "";
    position: absolute;
    width: 75px;
    height: 61px;
    background-image: url(../img/icon-instrument.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 194px;
    top: 34px;
}

.promo-technics::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 62px;
    background-image: url(../img/icon-technics.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 191px;
    top: 31px;
}

.promo-discount::after {
    content: "";
    position: absolute;
    width: 59px;
    height: 72px;
    background-image: url(../img/icon-discount.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 196px;
    top: 26px;
}

.promo-delivery::after {
    content: "";
    position: absolute;
    width: 78px;
    height: 63px;
    background-image: url(../img/icon-delivery.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 191px;
    top: 32px;
}

.popular-goods,
.popular-manufactures {
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: var(--deeply-grey);
    text-transform: uppercase;
    padding-left: 28px;
}

.container-popular,
.container-goods {
    background-color: var(--basic-pink);
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.a-all-goods,
.a-all-manufactures  {
    text-align: center;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--basic-red);
    max-width: 192px;
    padding-top: 11px;
    padding-bottom: 9px;
    align-self: center;    
}


.a-all-goods:hover,
.a-all-manufactures:hover {
    background-color: var(--red-buttonh);
}

.a-all-goods:active,
.a-all-manufactures:active {
    background-color: var(--red-buttona);
}

.a-all-goods {
    padding-left: 24px;
    padding-right: 24px;
    margin-right: 14px;
}

.a-all-manufactures {
    padding-left: 39px;
    padding-right: 38px;
    margin-right: 19px;
}

.section-goods {
    margin-bottom: 74px;
}

.list-of-goods {
    list-style: none;
    display: grid;
    grid-template-columns: 220px 220px 220px 220px;
    padding: 0;
    list-style: none;
    gap: 20px;
}

.good {
    border: 1px solid var(--light-grey);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 220px;
    height: 318px;
    padding-bottom: 21px;
}

.good div {
    margin: auto;  
    position: relative;
    width: 184px;
}
.good img {
    margin: auto;

}

.new-good {
    position: relative;
}

.new-good::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 149px;
    bottom: 246px;
}

.good-name {
    font-family: PT Sans, 'Arial', sans-serif;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: var(--basic-black);
    padding: 8px 17px 2px 18px;
    margin: auto;
}

del {
    color: var(--grey);
    font-family: PT Sans, 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 13px;
}

.price-good {
    font-family: PT Sans, 'Arial', sans-serif;
    font-weight: bold;
    font-size: 17px;
    line-height: 18px;
    color: var(--basic-white);
    width: 141px;
    background-image: url(../img/price-good.svg);
    background-repeat: no-repeat;
    padding: 10px 0 10px 0;
    padding-bottom: 10px;
    text-align: center;
}

.good-hover {
    display: none;
    position: absolute;
    background-color: var(--basic-white); 
    position: absolute;
    box-sizing: border-box;
    margin: 0;
}


.good:hover .good-hover {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin-top: 38px;
    margin-bottom: 42px;
}

.good:hover {
    box-shadow: 0 10px 20px var(--light-grey);   
}

.good:hover img {
    display: none;
}


.buy {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-green);
    text-align: center;
    padding: 10px 40px 10px 45px;
    width: 135px;
    border: none;
    box-shadow: 0 3px 0 var(--buy-shadow);
    margin-bottom: 10px;
    outline: none;
    position: relative;
    cursor: pointer;
}

.buy::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 25px;
    top: 11px;
    opacity: 0.3
}
.buy:hover {
    background-color: var(--green-success);
}

.buy:active {
    background-color: var(--green-click);
}

.to-bookmarks {
    font-size: 14px;
    line-height: 18px;
    color: var(--deeply-grey);
    text-transform: uppercase;
    background-color: var(--basic-white);
    border: 3px solid var(--basic-green);
    text-align: center;
    padding-top: 11px;
    padding-bottom: 9px;
    width: 135px;
    outline: none;
    cursor: pointer;

}

.to-bookmarks:hover {
    border: 3px solid var(--deeply-grey);
}

.to-bookmarks:active {
    border: 3px solid var(--deeply-grey);
    opacity: 0.5;
}

.buy,
.to-bookmarks {
    border-radius: 3%;
}

/*logos*/

.logos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    gap: 20px;
    margin-bottom: 70px;
    padding: 0;
}

.logos-list {
    background-color: var(--basic-white);
    border: 1px solid var(--light-grey);
    box-sizing: border-box;
    text-align: center;
    width: 220px;
    height: 145px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logos-list:hover {
    box-shadow: 0 0 20px var(--light-grey);
}

.logos-list:active {
    opacity: 0.5;
}


/*service*/

.service {
    background-color: var(--basic-background);
    margin-bottom: 74px;
}

.service-top {
    padding-top: 64px;
}

.service-bottom {
    display: grid;
    grid-template-columns: 240px 1fr;
    padding: 0;
    margin-top: 70px;
    box-sizing: border-box;

}

.button-container {
    position: relative;    
}

.button-container::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 279px;
    background-image: url(../img/services-line.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 230px;
    bottom: 50px;
}

.h-service {
    font-size: 30px;
    line-height: 30px;
    color: var(--basic-black);
    text-transform: uppercase;
    margin: 0;
}

.p-service {
    font-family: PT Sans, 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    padding-top: 15px;
}

.button-service {
    background-color: var(--deeply-grey);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    text-align: left;
    color: var(--basic-white);
    padding: 14px 139px 17px 22px;
    width: 240px;
    border: none;
    outline: none;
    cursor: pointer;

}

.button-service:hover {
    background-color: var(--deep-grey);
    border: none;
}

.button-service:active {
    background-color: var(--basic-white);
    color: var(--deeply-grey);
}

.button-serviche:focus {
    background-color: var(--basic-white);
    color: var(--deeply-grey);
}

.service-list {
    list-style: none;
    box-sizing: border-box;
    padding: 0;
    margin-top: 0;
    margin-left: 80px;
    margin-bottom: 125px;
}

.h-service-list {
    font-size: 30px;
    line-height: 30px;
    color: var(--deeply-grey);
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 27px;
}

.p-service-list {
    font-family: PT Sans, 'Arial', sans-serif;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin: 0;
}

.serviche-list li{
    padding-bottom: 20px;
}
.service-list li:nth-child(2),
.service-list li:last-child {
    display: none;
}

.service-list li:first-child {
    position: relative;
}

.service-list li:first-child::after {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    background-image: url(../img/car-big.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 148px;
    top: 18px;
}

.service-list li:nth-child(2) {
    position: relative;
}

.service-list li:nth-child(2)::after {
    content: "";
    position: absolute;
    width: 389px;
    height: 261px;
    background-image: url(../img/guarantee.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 220px;
    top: 10px;
}

.service-list li:last-child {
    position: relative;
}

.service-list li:last-child::before {
    content: "";
    position: absolute;
    width: 468px;
    height: 261px;
    background-image: url(../img/credit.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 165px;
    top: 1px;
}

li:last-child .p-service-list {
    margin-bottom: 27px;
}


.a-send-order {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-align: center;
    padding: 10px 45px 10px 45px;
}

.a-send-order:hover {
    background-color: var(--red-buttonh);
}

.a-send-order:active {
    background-color: var(--red-buttona);
}


/*contacts*/

.contacts {
    display: grid;
    grid-template-columns: 460px 300px;
    margin-bottom: 70px;
    column-gap: 180px;
    align-self: center;
}

.h-about {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.p-about {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin-top: 24px;
    margin-bottom: 0;
}

.p-about-2 {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin-top: 28px;
    margin-bottom: 0;    
}



.partners-list {
    list-style: none;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    margin-top: 3px;
}

.partners-list li {
    margin-bottom: 15px;
    position: relative;
}

.partners-list li::before {
    content: "";
    position: absolute;
    width: 25px;
    height: 2px;
    background-color: var(--basic-red);
    right: 435px;
    top: 11px;
}

.a-about-company {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-align: center;
    padding: 11px 40px 9px 40px;
}

.a-about-company:hover {
    background-color: var(--red-buttonh);
}

.a-about-company:active {
    background-color: var(--red-buttona);
}

.h-contact {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    margin: 0;
}

.p-map {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--basic-black);
    margin-top: 24px;
    margin-bottom: 32px;   
}

.button-write {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    padding: 11px 61px 9px 62px;
    border: none;
    margin-top: 20px;
    outline: none;
    cursor: pointer;

}

.contacts-map {
    border: none;
    outline: none;
    cursor: pointer;
}

/*footer*/

.footer-main {
    background-color: var(--deeply-grey);
    box-shadow: 10px 10px 10px 10px var(--shadow);
}

.footer-grid {
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin: auto;
}

.contact-footer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 41px;
}

.footer-adress {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.logo-footer {
    background-color: var(--basic-red);
    box-shadow:0 5px 0 0 var(--red-buttona);
    width: 220px;
    height: 68px;
    padding: 20px 42px 20px 42px;
    box-sizing: border-box;
    margin-bottom: 22px;

}

.p-footer {
    font-size: 18px;
    line-height: 24px;
    color: var(--smoke);
    margin: 0;
}

.p-footer {
    width: 324px;
}

.footer-navigation {
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 686px;
    margin-top: 37px;
}

.nav-footer {
    grid-row: 1/2;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    margin-bottom: 34px;
    padding-right: 12px; 
}

.nav-footer-yellow {
    grid-row: 2/3;
    list-style: none;
    display: flex;
    box-sizing: border-box;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0;
    padding-right: 12px;
}

.nav-footer li,
.nav-footer-yellow li {
margin-right: 58px;

}

.nav-footer a {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-background);
    margin: auto;
}

.nav-footer-yellow a {
    font-size: 18px;
    line-height: 24px;
    color: var(--special-yellowfooter);
    margin: auto;
}

.nav-footer a:hover,
.nav-footer-yellow a:hover {
    text-decoration: underline;
}

.nav-footer a:active,
.nav-footer-yellow a:active {
    color: var(--basic-background);
    opacity: 0.5;
}

.feedback {
    background-color: var(--deep-grey);
}

.container-feedback {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.p-feedback {
    font-size: 16px;
    line-height: 18px;
    color: var(--basic-white);
    grid-column: 1/2;
    padding-top: 20px;
}

.container-mail a {
    color: var(--special-yellowfooter);
}

.container-mail a:hover {
    color: var(--special-yellowfooter);
}

.container-mail a:active {
    color:  var(--basic-red);
}
.company {
    margin: 0;
    padding: 0;
}
.social-list {
    grid-column: 2/3;
    list-style: none;
    margin:auto;
    margin-top: 34px;
    margin-right: 100px;
    padding: 0;
    list-style: none;
    width: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--social-grey);
    width: 44px;
    height: 44px;
    border-radius: 50%;
}

.social-list a:hover,
.social-list a:active {
    background-color: var(--basic-red);
}


.container-mail {
    grid-column: 3/4;
    display: flex;
    margin-left: 15px;
    gap: 50px;
}


/*Catalog*/

/*header*/


.main-header-catalog {
    margin-bottom: 25px;
}

.logo-catalog:active {
    background-color: var(--red-buttona)    
}

.basket-catalog {
    background-color: var(--basic-red);
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 35px;
    color: var(--basic-white);
    position: relative;
}

.basket-catalog::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 8px;
    top: 12px;
    opacity: 0.3
}

.basket-catalog:hover::before {
    opacity: 1;
}

.login-username {
    display: flex;
    flex-direction: column;
}

.login-username p {
    margin: 0;
    display: flex;
}

.username {
    font-size: 21px;
    line-height: 21px;
    padding: 12px 20px 12px 15px;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.exit {
    background-color: var(--basic-white);
    padding: 12px 17px 12px 0;
}

.icon-user {
    margin-right: 20px;
}

.username:hover .icon-user .fill {
    fill: var(--basic-grey);
}

.exit:hover .exit-icon {
    fill: var(--basic-grey);    
}

.login-cabinet {
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    box-sizing: border-box;
    margin-left: 47px;
    position: relative;
}

.login-cabinet a {
    position: relative;
    margin-right: 33px;
}

.dot-login {
    width: 6px;
    height: 6px;
    background-color: var(--deeply-grey);
    border-radius: 50%;
    position: absolute;
    padding: 0;
    top: 14px;
    left:  88px;
}

.order-account {
    font-size: 16px;
    line-height: 18px;
    color: var(--deeply-grey);
    text-align: center;
    margin-top: 7px;
}

.order-account:hover {
    color: var(--basic-red);
}

.username:active,
.order-account:active {
    color: var(--basic-greylight);
}

.username:active .icon-user .fill {
    fill: var(--basic-greylight);
}

.exit:active .exit-icon {
    fill: var(--basic-greylight);
}

/*main*/

.main-catalog {
    display: grid;
    grid-template-columns: 220px 1fr;
    gap: 20px;
    padding: 0;
}

.breadcrumbs {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    list-style: none;
    color: var(--basic-black);
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0;
    grid-column: 1/-1;
    position: relative;
}

.arrow {
    position: relative;
}

.arrow::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 12px;
    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: -22px;
    top: 1px;
}

.breadcrumbs a {
    list-style: none;
    color: var(--basic-black);
    padding-right: 40px;
}

.h-catalog {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    background-color: var(--grey-catalog);
    color: var(--basic-grey);
    grid-column: 1/-1;
    padding: 29px 739px 29px 29px;
}

.h-sort,
.h-filter {
    background-color: var(--special-light);
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 18px;
    margin: 0;
}


/*filter*/

.form {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    color: var(--basic-black);    
}

.price-search,
.checkbox-manufacture,
.power {
    padding: 0;
    margin: 0;
    border: none;
}

.checkbox-manufacture {
    margin-bottom: 30px;
}

.legend-price {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    margin-top: 14px;
}

.range-filter {
    width: 220px;
    margin-top: 24px;
}

.range-controls {
    background-color: var(--special-light);
    height: 41px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;
    position: relative;
}

.range-controls .scale {
    width: 180px;
    height: 2px;
    background-color: var(--filter-line-green);
}

.range-controls .toggle {
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url(../img/icon-filter-button.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    border: none;
    box-shadow: 0 2px 1px 0 var(--toggle);
    border-radius: 50%;
    position: absolute;
    top: 30px;
    left: 0;
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}

.range-controls .toggle-max {
    left: 122px;
}

.price-controls input {
    width: 60px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background: var(--special-light);
}

.price-controls {
    font-size: 17px;
    line-height: 18px;
    display: flex;
    justify-content: space-between;
    align-self: center;
    box-sizing: border-box;
    height: 38px;
    margin-bottom: 42px;
}


.min-price input,
.max-price input {
    width: 95px;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
    text-align: center;
}

.price-controls p {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    margin-top: 8px;
}

.filter {
    position: relative;
}

.line {
    width: 220px;
    height: 1px;
    background-color: var(--basic-greylight);
    position: absolute;
    padding: 0;
    top: 245px;
    left:  -1px;
}

.line-b {
    width: 220px;
    height: 1px;
    background-color: var(--basic-greylight);
    position: absolute;
    padding: 0;
    top: 510px;
    left:  -1px;
}

.legend-manufact {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 18px;
}

.legend-power {
    font-weight: bold;
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 23px;
}

.input-checkbox+label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 2px solid var(--basic-greylight);
    border-radius: 4px;
    top: -2px;
    left: -1px;
}

.input-checkbox:hover:not(:checked)+label::before {
    border: 2px solid var(--grey-checkbox);
}

.input-checkbox:disabled:not(:checked)+label::before {
    opacity: 0.3;
}

.input-checkbox:checked+label::before {
    border: none;
}

.input-checkbox:checked+label::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 23px;
    background-image: url(../img/icon-checkbox-on.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -2px;
    left: -1px;
}

.input-checkbox:checked:hover+label::after {
    content: "";
    position: absolute;
    width: 26px;
    height: 23px;
    background-image: url(../img/icon-checkbox-on-hover.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    top: -2px;
    left: -1px;
}
.input-checkbox:checked:disabled+label::after {
    opacity: 0.3;
}

.input-checkbox-radio+label::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border: 3px solid var(--basic-greylight);
    border-radius: 50%;
    top: -3px;
    left: -2px;
}

.input-checkbox-radio:hover+label::before {
    border: 3px solid var(--grey-checkbox);
}

.input-checkbox-radio:disabled+label::before {
    opacity: 0.3;
}

.input-checkbox-radio:checked+label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--basic-greylight);
    border-radius: 50%;
    top: 5px;
    left: 6px;
}

.input-checkbox-radio:checked:hover+label::after {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: var(--grey-checkbox);
    border-radius: 50%;
    top: 5px;
    left: 6px;
}
.lables {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
    padding-left: 35px;
    margin-bottom: 20px;
}

.power .lables {
    margin-bottom: 22px;
}

.power {
    margin-bottom: 18px;
} 
.show-button {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
    text-align: center;
    padding: 10px 80px 10px 78px;
    border: 1px solid var(--border-grey);
    width: 220px;
    cursor: pointer;
}

.show-button:hover {
    border: 1px solid var(--basic-greylight);
}

.show-button:active {
    border: 1px solid var(--basic-red);
    outline: none;
}
/*sort*/

.sort {
    background-color: var(--special-light);
    width: 700px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 28px;
}

.sort-list {
    list-style: none;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 460px;
    box-sizing: border-box;
    margin: auto;
    padding-left: 0;
}

.h-sort {
    margin-right: 140px;
}

.sort-list li {
    box-sizing: border-box;
}

.sort-list li:first-child {
    margin-right: 50px;
}

.sort-list li:nth-child(3){
    margin-left: 50px;
}

.sort-list li:nth-child(4){
    margin-left: 25px;
}

.sort-list li:last-child {
    margin-right: 14px;
}

.sort-list a {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--opacity-black);
    text-decoration: underline;
    text-decoration-color: var(--basic-red);
    text-decoration-style: dotted;
}

.sort-list a:hover {
    color: var(--basic-black);
    text-decoration: underline;
    text-decoration-color: var(--basic-red);
}
.sort-list a:focus {
    color: var(--basic-red);
    text-decoration: none;
}

/*catalog*/
.goods-catalog {
    display: grid;
    grid-template-columns: 220px 220px 220px;
    margin: auto;
    list-style: none;
    gap: 20px;
    margin-left: 0;
    padding: 0;
}

.new-good-catalog {
    position: relative;
}

.new-good-catalog::after {
    content: "";
    position: absolute;
    width: 70px;
    height: 70px;
    background-image: url(../img/new.png);
    background-repeat: no-repeat;
    background-position: 0 0;
    left: 148px;
    bottom: 245px;
}

.pages {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    margin-top: 48px;
    margin-bottom: 60px;
}

.list-pages {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.list-pages li {
    margin-right: 10px;
    margin-left: 0;
}

.pages li {
    width: 38px;
    height: 38px;
}

.list-pages a {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--border-grey);
    width: 38px;
    border-radius: 2px;
    padding: 10px 0 10px 0;
    display: block;
}

.next-button {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: var(--basic-black);
    background-color: var(--basic-white);
    border: 1px solid var(--border-grey);
    width: 140px;
    border-radius: 2px;
    text-align: center;
    padding: 10px 15px 10px 15px;
    margin: auto;
    margin-left: 0;
    outline: none;
    cursor: pointer;

}

.list-pages a:hover,
.next-button:hover {
    border: 1px solid var(--basic-greylight);
}

.list-pages a:active,
.next-button:active {
    border: 1px solid var(--basic-red);
}

.list-pages a:focus {
    background-color: var(--basic-red);
    color: var(--basic-white);
}
.about-goods {
    background-color: var(--basic-background);
}

.grid-bottom {
    display: grid;
    grid-template-rows: 1fr;
}
.h-about-goods {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding-top: 64px;
    margin: 0;
    margin-bottom: 25px;  
}

.p-about-goods {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    text-align: left;
    color: var(--basic-black);
    margin: 0;
    padding-bottom: 68px;
}


/*modal window*/

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    display: none; 
    box-shadow: 10px 10px 10px 10px var(--shadow);
}

.modal-show {
    display: block;
}

.modal-error {

}

.modal-window {
    top: 120px;
    bottom: auto;
    background-color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    box-sizing: border-box;
    border: 1px solid var(--basic-white);
    width: 620px;
}

.modal-filter {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.modal-write-us::before {
    content: "";
    position: absolute;
    width: 620px;
    height: 7px;
    background-color: var(--basic-red);
    top: -1px;
    left: -1px;   
}

.modal-close {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 14px;
    right: 5px;
    outline: none;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--basic-red);
    top: 14px;
    right: 5px;
}

.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}

.modal-close::before:hover,
.modal-close::after:hover {
    background-color: var(--red-buttonh);
}

.modal-close:active::before,
.modal-close:active::after {
    background-color: var(--red-buttona);
}

.modal-name {
    margin-top: 46px;
    margin-left: 70px;
    display: flex;
    flex-direction: column;
    width: 220px;
}

.modal-email {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-top: 46px;
    margin-right: 70px;
}

.modal-name label,
.modal-email label {
    margin-bottom: 11px;
}

.modal-email input,
.modal-name input {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--grey);
    border: 2px solid var(--basic-greylight);
    padding: 5px 10px 6px 12px;
}

.modal-textarea label {
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    margin-bottom: 11px;
}

.modal-textarea {
    margin-top: 11px;
    margin-left: 80px;
    margin-right: 80px;
    width: 460px;
}

.placeholder {
    font-family: PT Sans, 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;
    color: var(--grey);
    box-sizing: border-box;
    width: 460px;
    height: 114px;
    margin-top: 11px;
    border: 2px solid var(--basic-greylight);
    resize: none;
    padding: 0;
    padding-top:  5px;
    padding-left: 10px;
}

.modal-name input:hover,
.modal-email input:hover,
.modal-textarea input:hover {
    border: 2px solid var(--basic-black);
}

.modal-name input:focus,
.modal-email input:focus,
.modal-textarea input:focus {
    border: 2px solid var(--basic-black);
}

.modal-footer {
    background-color: var(--modal-background);
    margin: auto;
    margin-top: 37px;
    max-width: 620px;
    height: 38px;
    padding: 37px 0 37px 80px;

}

.button-send {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    padding: 11px 199px 9px 199px;
    border: none;
    width: 460px;
    box-sizing: border-box;
    outline: none;

}

.button-write:hover,
.button-send:hover {
    background-color: var(--red-buttonh);
}

.button-write:active,
.button-send:active {
    background-color: var(--red-buttona);
}

/* map*/
    
.modal-map {
    top: 120px;
    bottom: auto;
    background-color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    box-sizing: border-box;
    border: 1px solid var(--basic-white);
    width: 943px;
 }

.modal-map iframe {
  border: none;
}

.modal-map::before {
    content: "";
    position: absolute;
    width: 943px;
    height: 7px;
    background-color: var(--basic-red);
    top: -1px;
    left: -1px;   
}
.modal-close-map {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 14px;
    right: 5px;
    outline: none;
}


.modal-close-map::before,
.modal-close-map::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--basic-red);
    top: 14px;
    right: 5px;
}

.modal-close-map::before {
    transform: rotate(45deg);
}
.modal-close-map::after {
    transform: rotate(-45deg);
}

.modal-close-map::before:hover,
.modal-close-map::after:hover {
    background-color: var(--red-buttonh);
}

.modal-close-map:active::before,
.modal-close-map:active::after {
    background-color: var(--red-buttona);
}
/*modal basket*/

.modal-basket {
    top: 120px;
    bottom: auto;
    background-color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-black);
    box-sizing: border-box;
    border: 1px solid var(--basic-white);
    width: 620px;
}

.modal-basket div {
    background-color: var(--modal-background);
    margin-top: 37px;
    height: 38px;
    padding: 37px 0 37px 0px;
    display: flex;
    justify-content: space-around;
    width: 620px;
    margin: auto; 
}

.modal-basket p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    color: var(--basic-black);
    margin-top: 73px;
    margin-bottom: 67px; 
    margin-left: 175px;
    position: relative;
}

.modal-basket p::before {
    content: "";
    position: absolute;
    width: 66px;
    height: 66px;
    background-image: url(../img/icon-mark.svg);
    background-repeat: no-repeat;
    background-position: 0 0; 
    top: -20px;
    left: -100px;   
}

.a-buy {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    background-color: var(--basic-red);
    text-align: center;
    padding: 11px 46px 9px 47px;
    margin-left: 110px;
}

.a-buy:hover {
    background-color: var(--red-buttonh);
}

.a-buy:active {
    background-color: var(--red-buttona);
}

.next-buy {
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-black);
    text-transform: uppercase;
    background-color: var(--basic-white);
    text-align: center;
    padding: 11px 31px 9px 32px; 
    margin-right: 114px; 
    cursor: pointer;
    border: 1px solid var(--basic-white);
}

.next-buy:hover {
    border: 1px solid var(--basic-greylight);
}

.next-buy:active {
    border: 1px solid var(--basic-red);
}
.modal-basket::before {
    content: "";
    position: absolute;
    width: 620px;
    height: 7px;
    background-color: var(--basic-red);
    top: -1px;
    left: -1px; 
}

.modal-close-basket {
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    top: 14px;
    right: 5px;
    outline: none;
}


.modal-close-basket::before,
.modal-close-basket::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 4px;
    background-color: var(--basic-red);
    top: 14px;
    right: 5px;
}

.modal-close-basket::before {
    transform: rotate(45deg);
}
.modal-close-basket::after {
    transform: rotate(-45deg);
}

.modal-close-basket::before:hover,
.modal-close-basket::after:hover {
    background-color: var(--red-buttonh);
}

.modal-close-basket:active::before,
.modal-close-basket:active::after {
    background-color: var(--red-buttona);
}